{%  extends 'layout.html' %}
{% block title %}{{ title }}{% endblock title %}
{%  block PageMenu %}
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <h3>{{  app_name }}</h3>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a href= {{ url_for('upload_file') }}>
                                <i class="fas fa-copy"></i>Upload File</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
{% endblock PageMenu %}
{% block PageHeading %}
    <h2>Upload File</h2>
{% endblock PageHeading %}
{% block PageContent %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <p >
	                        {% with messages = get_flashed_messages() %}
                                {% if messages %}
		                            <ul class=flashes>
                                        {% for message in messages %}
                                            <li class="alert alert-primary">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </p>
                        <div>
                            <form method="post" action= "/" enctype="multipart/form-data"  >
                                <table id="holder">
                                    <tr>
                                        <td><input type="file" name="file" autocomplete="off" required></td>
                                    </tr>
                                    <!-- Skipping this file drag and drop feature for the moment, will come back to this later -->
                                    <!-- <tr>
                                        <td><ul id="fileList"></ul></td>
                                    </tr>
                                    -->

                                    <tr>
                                        <tr>
                                        <p> Upload an excel file which has comments in the first sheet. Only the first sheet will be processed.</p>
                                        </tr>
                                        <td>
                                            <input class="btn btn-primary" type="submit" value="Upload">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
{% endblock PageContent %}